<div class="cyan">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Restaurant</h5>
      <p class="grey-text text-lighten-4">Aplicativo desarrollado para administrar una cadena de restaurantes</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Visitanos</h5>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    2016 Desarrollado por: <a href="https://github.com/experimentality">experimentality S.A.S</a>
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
